
.indented {
    padding-left: 50pt;
}

.categoryFont{
    font-size: larger;
}

.categories{
    margin-top: 50px;
    margin-bottom: 20px;
}

.tasks{
    margin-top: 20px;
}

.buttons{
    display: block;
    margin: auto;
}


.mainBackground {
    background-color: #f8f6d7;
}

html,
body,
header,
.homeHeader,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .homeHeader,
    .view {
        height: 100vh;
    }
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    }
}

.top-nav-collapse {
    background-color: #ffcc9d !important;
}

.navbar:not(.top-nav-collapse) {
    background: #ffcc9d !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #ffcc9d !important;
    }
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}


.welcomeTag{
    margin: auto;
    text-align: center;
}