<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{style.css}" href="../static/style.css" rel="stylesheet" type="text/css"  />
</head>
<body>

    <div th:fragment="footer">

        <!-- Footer -->
        <footer class="page-footer font-small fixed-bottom" style="background-color: floralwhite">

            <div class="footer-copyright text-center py-3">2019 Silvia Goldasova:
                <a href="/schedule/home">Algi</a>
            </div>

        </footer>
        <!-- Footer -->


    </div>

</body>
</html>