<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{style.css}" href="../static/style.css" rel="stylesheet" type="text/css"  />
    <meta charset="UTF-8">
    <title>Generate Schedule</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{style.css}" href="../static/style.css" rel="stylesheet" type="text/css"  />
</head>

<body style="background-color: white">

   <div class = homeHeader th:replace="header :: header"> </div>
    <div class="view">
        <div class="largest_cont">
            <h1 style="text-align: center" class="mx-auto" >Generate Schedule</h1>
            <div class="max_cont">
                <form action="#" th:action="@{/schedule/generate}" th:object="${scheduleObject}" method="post">
                    <table class="table" style="margin-left: 20px; margin-right: 20px">
                        <thread>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Parameter</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="form-group">
                                <td scope="row"></td>
                                <td><label for = "sessionDuration">Desired learning session duration</label></td>
                                <td class="d-flex flex-row justify-content-center align-content-center">
                                    <div class = "p-2" style="width:60%">
                                        <input th:type="text" th:field="*{sessionDuration}" class="form-control" id="sessionDuration"/>
                                    </div>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td scope="row"></td>
                                <td><label for = "breakDuration">Desired break length</label></td>
                                <td class="d-flex flex-row justify-content-center align-content-center">
                                    <div class = "p-2" style="width:60%">
                                        <input th:type="text" th:field="*{breakDuration}" class="form-control" id="breakDuration"/>
                                    </div>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td scope="row"></td>
                                <td><label for = "breakFreq">Frequency of breaks</label></td>
                                <td class="d-flex flex-row justify-content-center align-content-center">
                                    <div class = "p-2" style="width:60%">
                                        <input th:type="text" th:field="*{breakFrequency}" class="form-control" id="breakFreq"/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </thread>
                    </table>
                    <div class="d-flex justify-content-end"><input type="submit" class="btn btn-dark" value="Submit" /> </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="footer :: footer"> </div>

</body>
</html>