<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{style.css}" href="../static/style.css" rel="stylesheet" type="text/css"  />
    <meta charset="UTF-8">
    <title>My tasks</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{style.css}" href="../static/style.css" rel="stylesheet" type="text/css"  />
</head>
<body style="background-image: url('https://wallpapercave.com/wp/j77l1TC.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center center; fill-opacity: 50%">

    <div th:replace="header :: header"> </div>

    <div class="view">

        <div class="largest_cont">
            <h1>My tasks</h1>

            <div class="max_cont">
                <div th:each="item : ${categs}">
                    <h4 style="letter-spacing: 2px" th:text="${item}" class="categories" >- (category name) </h4>
                    <table>
                        <div class="tasksFont" th:each="task : ${taskList}">
                            <div th:if="${task.taskCategory == item}" class="tasks">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class = "indented h5" th:text="${task.name}">- (task name)</div>
                                    </div>
                                    <div class="col-sm">
                                        <div class = "indented h5" th:text="${task.duration}">- (duration)</div>
                                    </div>
                                    <div class="col-sm">
                                        <form th:method="post" th:action="@{/schedule/{id}/editing(id=${task.id})}">
                                            <button type="submit" name="action" value="completed" class="btn btn-dark completed"><i class="fas fa-check-square buttons"></i></button>
                                            <button type="submit" name="action" value="edit" class="btn btn-dark edit"><i class="fas fa-pencil-alt buttons"></i></button>
                                            <button type="submit" name="action" value="delete" class="btn btn-dark"><i class="far fa-trash-alt buttons"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>

        </div>

    </div>

    <div th:replace="footer :: footer"> </div>


    <style>
        .largest_cont{
            margin: 100px auto;
            width: 75%;
        }

        .max_cont{
            margin: 50px auto auto auto;
            width: 60%;
        }

        .categoryFont{
            font-size: larger;
        }

        .tasksFont{
            font-size: 4px;
        }
        .categories{
            margin-top: 60px;
            margin-bottom: 25px;
        }

    </style>

<!--
            border-width: 3px;
            border-style: solid;
            border-color: red;
            ->>

</body>
</html>