<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sign up</title>
</head>
<body>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <form method="post" th:action="@{/signup}" th:object="${user}">
        <div><label> User Name : <input type="text" name="username" th:field="*{username}"/> </label></div>
        <div><label> Password: <input type="password" name="password" th:field="*{password}"/> </label></div>
        <div><input type="submit" value="Sign Un"/></div>
    </form>

</body>
</html>